[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

pytz = "*"
django = "==2.2.13"
requests = "*"
python-dateutil = "*"
dj-database-url = "*"
django-heroku = "*"
gunicorn = "*"


[dev-packages]



[requires]

python_version = "3.6"
