<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8">
    <title>RoboKlein</title>
    <link href="{% static 'Buy/keyrune.css' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{% static 'Buy/styles.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
  </head>
  <body>

  	<div id="sellerinfo">
  		<div id="seller_name_div" class="sellerinfodiv">
  			<label for="seller_name">Seller Name:<input class="sellerinfoitem sellerinfoitem-sm" type="text" name="seller_name" id="seller_name"></label>
  		</div>
  		<div id="seller_email_div" class="sellerinfodiv">
  			<label for="seller_email">Seller Email: <input class="sellerinfoitem sellerinfoitem-sm" type="Email" name="seller_email" id="seller_email"></label>
  		</div>
  		<div id="seller_phone_div" class="sellerinfodiv">
  			<label for="seller_phone">Seller Phone:<input class="sellerinfoitem sellerinfoitem-sm" type="Phone" name="seller_phone" id="seller_phone"></label>
  		</div>
  		<div id="seller_notes_div" class="sellerinfodiv">
  			<label for="seller_notes" id="sellernoteslabel">Seller Notes: <textarea class="sellerinfoitem sellerinfoitem-lg" cols="60" rows ="5" name="seller_notes" id="seller_notes"></textarea></label>
  		</div>
  	</div>

    <button class="btn btn-primary" id="addbtn">Add Line</button>

    <form action="{% url 'report_buy' %}" method="POST" id="roboform" onsubmit="return robosubmit()">
      {% csrf_token %}
      <div class="robocontainer form-group">
      </div>
    </form>

    <div id="totalbuyprice">
    	<label>Total Buy Price: $
        <input class="totalbuyitem" type="number" name="totalbuyprice" step=".01" min="0" placeholder="0">
        </label>
      <label>Payment method:
        <select name="paymentmethod" id="paymentmethod" form="roboform">
          <option value="Cash">
            Cash
          </option>
          <option value="Store Credit">
            Store Credit
          </option>
        </select>
        </label>
    </div>

    <button type="submit" class="btn btn-primary" form="roboform" value="Submit" id="submitbtn">Purchase and List</button>

    <script>
      var char_code_dict;
      $.getJSON( "{% static 'Buy/result.json' %}", function( data ) {
        char_code_dict = data; //json output
      });
      var bearer = "{{ bearer }}";
      console.log("{{standard_list}}");
      var standard_list = "{{standard_list}}".replace(/&#39;/g,"\"");
      console.log(standard_list);
      standard_list = JSON.parse(standard_list);
      console.log(standard_list);
      function check_seller(seller_name, success_function){
        $.get("{% url 'check_seller' %}", {'name':seller_name}, success_function);
      }
      function robosubmit(){
        if ($("#seller_name").val() == ""){
          alert("Seller name required");
          return false;
        }
        if ($("#seller_phone").val() == ""){
          alert("Seller phone required");
          return false;
        }
        if ($("#seller_email").val() == ""){
          alert("Seller email required");
          return false;
        }
      	if (confirm("Purchase?")){
      		$("#sellerinfo").appendTo($("#roboform"));
      		if(seller_id){
      			$("#roboform").append('<input type="hidden" name="seller_id" value=' + seller_id.toString() + ' />')
      		}
      		return true;
      	}
      	return false;
      }
    </script>
    <script src="{% static 'Buy/scripts.js' %}"></script>

  </body>
</html>
