<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8">
    <title>RoboKlein Sell</title>
    <link href="{% static 'Buy/keyrune.css' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{% static 'Buy/styles.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
  </head>
  <body>

  	<div id="buyer_info">
  		<div id="buyer_name_div" class="buyerinfodiv">
  			<label for="buyer_name">Buyer Name:<input class="buyerinfoitem buyerinfoitem-sm" type="text" name="buyer_name" id="buyer_name"></label>
  		</div>
  		<div id="buyer_email_div" class="buyerinfodiv">
  			<label for="buyer_email">Buyer Email: <input class="buyerinfoitem buyerinfoitem-sm" type="Email" name="buyer_email" id="buyer_email"></label>
  		</div>
  		<div id="buyer_phone_div" class="buyerinfodiv">
  			<label for="buyer_phone">Buyer Phone:<input class="buyerinfoitem buyerinfoitem-sm" type="Phone" name="buyer_phone" id="buyer_phone"></label>
  		</div>
  		<div id="buyer_notes_div" class="buyerinfodiv">
  			<label for="buyer_notes" id="buyernoteslabel">Buyer Notes: <textarea class="buyerinfoitem buyerinfoitem-lg" cols="60" rows ="5" name="buyer_notes" id="buyer_notes"></textarea></label>
  		</div>
  	</div>

    <button class="btn btn-primary" id="addbtn">Add Line</button>

    <form action="{% url 'report_sell' %}" method="POST" id="roboform" onsubmit="return robosubmit()">
      {% csrf_token %}
      <div class="robocontainer form-group">
      </div>
    </form>

    <div id="totalsellprice">
    	<label>Total Sell Price: $
        <input class="totalsellitem" type="number" name="totalsellprice" step=".01" min="0" placeholder="0">
        </label>
      <label>Payment method:
        <select name="paymentmethod" id="paymentmethod" form="roboform">
          <option value="Cash">
            Cash
          </option>
          <option value="Card">
            Card
          </option>
          <option value="Store Credit">
            Store Credit
          </option>
        </select>
        </label>
    </div>

    <button type="submit" class="btn btn-primary" form="roboform" value="Submit" id="submitbtn">Purchase and List</button>

    <script>
      var char_code_dict;
      $.getJSON( "{% static 'Buy/result.json' %}", function( data ) {
        char_code_dict = data; //json output
      });
      var bearer = "{{ bearer }}";
      var store_key = "{{ store_key }}";
      function check_buyer(buyer_name, success_function){
        $.get("{% url 'check_seller' %}", {'name':buyer_name}, success_function);
      }
      function check_price(card_obj, success_function){
        $.get("{% url 'query_price' %}", card_obj, success_function)
      }
      function robosubmit(){
        if ($("#buyer_name").val() == ""){
          alert("Buyer name required");
          return false;
        }
        if ($("#buyer_phone").val() == ""){
          alert("Buyer phone required");
          return false;
        }
        if ($("#buyer_email").val() == ""){
          alert("Buyer email required");
          return false;
        }
      	if (confirm("Purchase?")){
          var zeros = false;
          $(".roboquantity").each(function(){
            if ($(this).val() == 0){
              zeros = true;
            }
        	});
          if (zeros){
            if (!confirm("Items have 0 quantity - proceed?")){
              return false;
            }
          }
      		$("#buyerinfo").appendTo($("#roboform"));
      		if(buyer_id){
      			$("#roboform").append('<input type="hidden" name="buyer_id" value=' + buyer_id.toString() + ' />')
      		}
      		return true;
      	}
      	return false;
      }
    </script>
    <script src="{% static 'Buy/sell_scripts.js' %}"></script>

  </body>
</html>
